Sem_5/AI_Lab/ideepcolor/
Sem_5/Robo/Industrial Robotics Technology Programming And Applications (Special Indian Edn), 2Nd Edn by GROOVER (z-lib.org).pdf
Sem_5/AI_Lab/PaletteNet-Implementation-Ai-Project/

./.git/objects/pack/pack-053eaa69adc69289cb876ceae10f8fd31975a725.pack
./Sem_5/AI/Uniform Cost search Algorithm Explaination with example.mp4
./Sem_5/AI_Lab/ideepcolor/caffe/.git/objects/pack/pack-0cfac522a21cc8a048c3750548ca63e74e347a49.pack
./Sem_5/AI_Lab/ideepcolor/env/lib/python3.12/site-packages/cv2/cv2.abi3.so
./Sem_5/AI_Lab/ideepcolor/models/global_model/global_model.caffemodel
./Sem_5/AI_Lab/ideepcolor/models/pytorch/caffemodel.pth
./Sem_5/AI_Lab/ideepcolor/models/pytorch/pytorch_trained.pth
./Sem_5/AI_Lab/ideepcolor/models/reference_model/model.caffemodel
./Sem_5/AI_Lab/PaletteNet-Implementation-Ai-Project/.git/objects/pack/pack-9129afa3ee27f2bbdc093892c1869dfb4f13ff59.pack
Sem_5/AI/Uniform Cost search Algorithm Explaination with example.mp4
Sem_5/AI/AI_Lab/ideepcolor/env/lib/python3.12/site-packages/cv2/cv2.abi3.so
Sem_5/AI/AI_Lab/ideepcolor/models/global_model/global_model.caffemodel
Sem_5/AI/AI_Lab/ideepcolor/models/pytorch/caffemodel.pth
Sem_5/AI/AI_Lab/ideepcolor/models/pytorch/pytorch_trained.pth
Sem_5/AI/AI_Lab/ideepcolor/models/reference_model/model.caffemodel
PP/schedule_maker/*
./Sem_5/SE/Ass_8/*
Sem_5/SE/Ass_8/
Sem_5/AI/AI_Lab/
/mnt/deepak/data/B_Tech/Sem_5/DBMS/DBMS_Lab/ass5/Music_Streaming/

Sem_5/Notes/robo/Industrial Robotics Technology Programming And Applications (Special Indian Edn), 2Nd Edn by GROOVER (z-lib.org).pdf
Sem_6/OS/OS_Lab/Assignment_3_xv6/xv6-public/
Sem_6/Mira_flows_workshop/env
PP/
